.competition {
    padding-bottom: 126px;

    @media (max-width: $adaptive-width) {
        padding-bottom: 88px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-l;

        @media (max-width: $adaptive-width) {
            gap: $spacing-xl;
        }
    }

    &__container {
        border: 1px solid $line;
        display: flex;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
        border-radius: 16px;

        &_organize {
            flex-direction: column;
        }

        &:not(:last-child) {
            margin-bottom: $spacing-2l;
        }

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            border-radius: 8px;
        }
    }

    &__wrapper {
        display: flex;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
        }
    }

    &__info {
        display: flex;
        align-items: center;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__photo {
        min-width: 252px;
        height: 215px;
        border: 1px solid $line;
        background-color: #E0F4FF;
        border-radius: 8px;
        margin: $spacing-l $spacing-2xl $spacing-l $spacing-l;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $adaptive-width) {
            min-width: 100%;
            height: 147px;
            margin: 0;
            border-radius: 8px 8px 0 0;
            border: none;
        }
    }

    &__title {
        margin-bottom: $spacing-m;
        margin-top: $spacing-l;

        @media (max-width: $adaptive-width) {
            margin: 0 0 $spacing-s 0;
        }
    }

    &__medal {
        margin: 0 auto;

        @media (max-width: $adaptive-width) {
            margin: $spacing-xl auto;
        }
    }

    &__place {
        @include P-14-medium;
        color: $text-tertiary;
        margin-bottom: $spacing-xl;

        @media (max-width: $adaptive-width) {
            display: none;
        }
    }

    &__descr {
        padding: $spacing-l $spacing-l $spacing-l 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        @media (max-width: $adaptive-width) {
            padding: $spacing-l $spacing-l $spacing-xl;
        }
    }

    &__subject {
        @include P-16;
        color: $text-secondary;
        margin-bottom: $spacing-2xl;
    }

    &__aside {
        padding: $spacing-2xl $spacing-xl $spacing-2l $spacing-xl;
        border-left: 1px solid $line;
        margin-left: auto;
        min-width: 243px;

        &_cabinet {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        @media (max-width: $adaptive-width) {
            padding: $spacing-xl $spacing-l $spacing-l;
            margin: 0;
            border-top: 1px solid $line;
            border-left: none;
        }
    }

    &__date {
        margin-bottom: $spacing-xs;
    }

    &__to {
        @include P-12;
        color: $text-tertiary;
        margin-bottom: $spacing-2xl;

        @media (max-width: $adaptive-width) {
            margin-bottom: $spacing-l;
        }
    }

    &__result {
        text-align: center;

        @media (max-width: $adaptive-width) {
            margin: $spacing-xl 0;
        }
    }

    &__pay {
        @include P-14-medium;
        margin: $spacing-s 0 $spacing-xl $spacing-m;
        color: $text-secondary;

        &_cabinet {
            margin-left: 0;
        }

        @media (max-width: $adaptive-width) {
            margin: $spacing-s 0 $spacing-xl 0;
            text-align: center;
        }
    }

    &__avatar-block {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: $bg-white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__review-wrapper {
        padding-bottom: $spacing-2l;
    }

    &__review {
        position: relative;
        z-index: 1;
    }

    &__avatar-block {
        position: absolute;
        top: 0;
        z-index: 1;

        &_second {
            left: 20px;
            z-index: 0;
        }

        &_third {
            left: 40px;
            z-index: -1;
        }
    }

    &__avatar {
        border-radius: 50%;
    }

    &__initials {
        background-color: $bg;
        border-radius: 50%
    }

    &__initials-text {
        @include P-14-medium;
    }
    
    &__amount {
        @include P-12;
        color: $text-tertiary;
        position: relative;
        left: 84px;
        top: 6px;
    }

    &__show-more {
        margin-top: $spacing-3xl;
        display: flex;
        align-items: center;
        gap: $spacing-xl;
    }

    &__show-more-text {
        color: $text-tertiary;
    }

    &__status {
        color: $secondary;

        @media (max-width: $adaptive-width) {
            text-align: center;
        }

        &_finished {
            @include P-16;
            color: $text-tertiary;
            text-align: center;

            @media (max-width: $adaptive-width) {
                margin: $spacing-xl 0;
            }
        }
    }

    &__footer {
        padding: $spacing-m $spacing-2l $spacing-xl;
        border-top: 1px solid $line;
        display: flex;
        justify-content: space-between;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
            padding: $spacing-l $spacing-l $spacing-xl;
        }
    }

    &__footer-actions {
        display: flex;

        @media (max-width: $adaptive-width) {
            flex-direction: column;
        }
    }
}

@media (max-width: $adaptive-width) {
    .competition__btn {
        width: 100%;
    }
}