<div class="competition__container">
    <div class="competition__info">
        <div class="competition__photo">
            <svg width="100" height="100">
                <use xlink:href="<?=SITE_TEMPLATE_PATH?>/assets/img/sprite.svg#icon-ski"></use>
            </svg>
        </div>
        <div class="competition__descr">
            <h3 class="competition__title">Двенадцатое первенство по лыжным гонкам «Даниловская
                лыжня - 2022»</h3>
            <p class="competition__place">Еврейская АО, Смидовичский р-н, село Даниловка (624 км)
            </p>
            <p class="competition__subject">Первенство по лыжным гонкам среди всех возрастов</p>
        </div>
    </div>
    <aside class="competition__aside">
        <h4 class="competition__date">16 – 24 мар, 2022</h4>
        <p class="competition__to">Через 12 дней</p>
        <button type="button" class="button-primary competition__btn">Регистрация</button>
        <p class="competition__pay">Участие бесплатно</p>
        <div class="competition__review-wrapper">
            <div class="competition__review">
                <div class="competition__avatar-block">
                    <img class="competition__avatar" src="<?=SITE_TEMPLATE_PATH?>/assets/img/avatar.webp" width="32" height="32"
                        alt="Аватар">
                </div>
                <div class="competition__avatar-block competition__avatar-block_second">
                    <img class="competition__avatar" src="<?=SITE_TEMPLATE_PATH?>/assets/img/avatar-1.webp" width="32" height="32"
                        alt="Аватар">
                </div>
                <div class="competition__avatar-block competition__avatar-block_third">
                    <img class="competition__avatar" src="<?=SITE_TEMPLATE_PATH?>/assets/img/avatar-2.webp" width="32" height="32"
                        alt="Аватар">
                </div>
            </div>
            <span class="competition__amount"> 1 422</span>
        </div>
    </aside>
</div>
