//Viewports
$modile-width: 320px;
$adaptive-width: 1023px;
$desktop-width: 1439px;


// Color
$primary: #111111;
$secondary: #FA4C25;
$bg-white: #FFFFFF;
$bg-black-rgb: 0, 0, 0;

$text-primary: #111111;
$text-secondary: #4B4A4A;
$text-tertiary: #787675;

$bg: #F5F5F5;
$line: #EAEAEA;

//Spacing
$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 16px;
$spacing-2l: 20px;
$spacing-xl: 24px;
$spacing-2xl: 32px;
$spacing-3xl: 40px;
$spacing-4xl: 52px;